<!-- TODO: this is almost certainly not the best way to get this lib loaded -->

<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=true_or_false">
</script>
x
<% title "Survey" %>

<!-- TODO: compress? -->
<%= content_tag "div", class: "points", data: {points: @route.points} do %>

<div id="map"> </div>

<p>
  <strong>Name:</strong>
  <%=h @route.name %>
</p>

<% for point in @route.points %>
<%= point.order %>. Lat: <%=h point.lat %>, Long: <%=h point.long %> <br/>
<% end %>

<p>
<%= link_to "Edit", edit_route_path(@route) %></br>
<%= link_to "View All", routes_path %>
</p>

<table id="poi_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tags</th>
      <th>Distance</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<% end %>
