<% title "Survey" %>

<%= content_tag "div", class: "points", data: {points: @route.points} do %>

<div id="map"> </div>

<p>
  <strong>Name:</strong>
  <%=h @route.name %>
</p>

<% for point in @route.points %>
<%= point.order %>. Lat: <%=h point.lat %>, Long: <%=h point.long %> <br/>
<% end %>


<p>
<%= link_to "Edit", edit_route_path(@route) %></br>
<%= link_to "View All", routes_path %>
</p>

<% end %>
