<% title "Survey" %>

<p>
  <strong>Name:</strong>
  <%=h @route.name %>
</p>

<% for point in @route.points %>
<%= point.order %>. Lat: <%=h point.lat %>, Long: <%=h point.long %> <br/>
<% end %>

<p>
 <%= link_to "View All", routes_path %>
</p>
